
.img {
      width: 150px;
      height: 150px;
    }

#loss{ 
     
      padding-left: 30px;
      font-size: 25px;
}
#win{ 
   
        padding-left: 25px;
        font-size: 25px;     

}    
h4{    
    color: whitesmoke;
    font-size: 25px;
    
}

.jumbotron {
    height: 250px;
    background-color: rgb(31, 32, 32);
    color: whitesmoke;
    padding-top: 20px;
}


body  {
    background-image: url("image/background2.jpg");
    background-color: #cccccc;
}
p {
    width: 800px;
}

.btn {
    width: 765px;
}
